* text=auto eol=lf

*.sv    text eol=lf
*.svh   text eol=lf
*.v     text eol=lf
*.vh    text eol=lf
*.py    text eol=lf
*.sh    text eol=lf
*.tcl   text eol=lf
*.mk    text eol=lf
Makefile text eol=lf
*.md    text eol=lf
*.json  text eol=lf
*.yaml  text eol=lf
*.yml   text eol=lf

*.docx  binary
*.pdf   binary
*.png   binary
*.wlf   binary
*.ucdb  binary